

core-scaffold {
	font-family:'Roboto';
	color:#222;
}

/* title bar of the right panel */
core-scaffold::shadow core-toolbar {
	background:#03a9f4;
	color:#fff;
}
/* content of the right panel */
core-scaffold::shadow core-header-panel {
	background:#fff;
}
/* menu bar of the left panel */
core-toolbar {
	background:#eee;
}
/* content of the left panel */
core-header-panel {
	background:#fff;
}

core-animated-pages section > div {
	background:#fff;
	margin:16px;
}

core-animated-pages core-icon-button {
	color:#03a9f4;
}

.active {
	font-weight:bold;
}