

core-scaffold {
	font-family:'Roboto';
	color:#222;
}

/* title bar of the right panel */
core-scaffold::shadow core-toolbar {
	background:#03a9f4;
	color:#fff;
}
/* content of the right panel */
core-scaffold::shadow core-header-panel {
	background:#fff;
}
/* menu bar of the left panel */
core-toolbar {
	background:#eee;
}
/* content of the left panel */
core-header-panel {
	background:#fff;
}

core-animated-pages section > div {
	background:#fff;
	margin:16px;
	margin-bottom:52px;
}

core-animated-pages > section {
}

core-animated-pages core-icon {
	color:#03a9f4;
}

#menu {
	margin:0px;
	margin-top:12px;
}

#menu core-item {
	padding-left:12px;
}

.active {
	font-weight:bold;
}

.button-wrap {
	margin-top:12px;
}

.right {
	float:right;
}

.left {
	float:left;
}

.hidden {
	display:none;
}